.jumbotron {
  padding-top: 9rem;
  background-color: #ddbffa;
}

#projects {
  background-color: #ddbffa;
}

section {
  padding-top: 4rem;
}

.btn {
  background-color: #4e0c8f;
  color: white;
}
.btn:hover {
  background-color: #6d19c0;
  color: white;
}
